VITE_SUPABASE_URL=https://prfhpdyfnqwgpbiylkde.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByZmhwZHlmbnF3Z3BiaXlsa2RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDEyNDgsImV4cCI6MjA4NzU3NzI0OH0.yYUEDRtQIEkUUbMlN1Gd7SMCRuEaayPL14A8yK53Hd0
